.container-footer {
    width: 80%;
    margin: auto;
    
    p {
        &:nth-child(1) {
            font-family: $font-family-principal;
            font-weight: 700;
            font-size: 1.5em;
            margin-bottom: 1em;
        };

        &:nth-child(2) {
            font-family: $font-family-principal;
            margin-bottom: 2em;
        };
    };

    ul {
        @include flex;
        list-style-type: none;
        margin-bottom: 4em;

        li {
            margin-right: 10px;
        };
    };
};
