.container-title-nav {
    font-size: 2em;
    font-weight: 700;
    font-family: $font-family-principal;
    padding: 1.5em 0 1.5em 0;
}

.container-img-nav {
    position: absolute;
    top: -250px;
}

