.container-phone {
    @include pos-ab(52%, 0, 0, 50%, -50%, -50%);
    z-index: 100;
    img {
        width: 100%;
    }
}

@media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    .container-phone{
        @include pos-ab(20%, 0, 0, 30%, -50%, -50%);
        
        .container-phone-img {
            width: 50%;
            margin: auto;
        }
    }
}