@mixin flex-center-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex{
    display: flex;
}

@mixin wrapper{
    width:80%;
    margin: auto;
}