.container-undercard {
    background-color: $bleu-fonce;
    border-radius: $border-radius;
}
.section2 {
    position: relative;
}

@media screen and (max-width: $max-mobile) {
    .container-undercard {
        @include flex-center;
        .container-undercard-img {
            width: 70%;
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    .container-undercard {
        position: relative;
        height: 540px;

        .undercard-img {
            @include pos-ab(30%, 0, 0, 50%, -45%, -50%);
            width: 40%;
        }
    }
}

@media screen and (min-width: $min-laptop) and (max-width: $max-desktop) {

    .container-undercard {
        position: relative;
        height: 550px;

        .undercard-img {
            position: absolute;
            top: -50px;
            transform: translate(200px, 0);
            img {
                width: 80%;
            }
        }
    }
}

@media screen and (min-width: $min-xl){

    .container-undercard {
        position: relative;
        height: 550px;

        .undercard-img {
            position: absolute;
            top: -50px;
            transform: translate(450px, 0);
            img {
                width: 80%;
            }
        }
    }
}
