// colors
$bleu-turquoise: #66e2dc;
$rouge-clair: #fa7453;
$orange-clair: #ffb964;
$blanc: #fcfaf9;
$bleu-fonce: #191826;

// dimension - taille police d'écriture
$font-size-h1: 88px;
$border-radius: 10px;
$font-family-principal: "IBM Plex Sans", sans-serif;
$line-heigth-tx: 130%;
