@import "_variables";
@import "_globale";
@import "_mixins";
@import "_placeholder";
@import "_card";
@import "_button";
@import "_underCard";
@import "_phone";
@import "_nav";
@import "_header";
@import "_footer";

.bkgrnd {
    .container-illustration1-nav {
        .container-illustration1-nav-img {
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: $max-mobile) {
    .wrapper {
        @include wrapper;
    }
}

@media screen and (max-width: $max-mobile) {
    .section1 {
        @include wrapper;
    }

    .container-illustration1-nav {
        display: none;
    }
}

@media screen and (min-width: $min-mobile) and (max-width: $max-mobile) {
    .bkgrnd {
        @include background-image("../../public/assets/bg-main-mobile.png", -10%, -25%);
    }
}

@media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    .bkgrnd {
        @include background-image("../../public/assets/bg-main-tablet.png", 70%, -70%);

        .container-illustration1-nav {
            position: absolute;
            right: 0;
            width:200px;
            img{
                width:100%;
                object-position: 30px -20px;
            }
        }
    }

    .section2 {
        position: relative;
        margin-bottom: 8em;
    } 
}


@media screen and (min-width: $min-laptop) and (max-width: $max-desktop) {
    .bkgrnd {
        @include background-image("../../public/assets/bg-main-desktop.png", 50%, 50%);
      

        .container-illustration1-nav {
            position: absolute;
            right:0;
            width:30%;
            img{
                width:100%;
                object-position: 0 -40px;
            }
        }
    }

     .section2 {
        position: relative;
        margin-bottom: 8em;
    }
}

@media screen and (min-width: $min-xl) {
    .bkgrnd {
        @include background-image("../../public/assets/bg-main-desktop.png", 50%, 50%);
      

        .container-illustration1-nav {
            position: absolute;
            right:0;
            width:15%;
            img{
                width:100%;
                object-position: 0 -40px;
            }
        }
    }

     .section2 {
        position: relative;
        max-width: 1201px;
        margin: auto;
        margin-bottom: 15em;
    }
}